*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDEA Project Files #
/.idea/
*.iml

# Maven Target #
/target/
/fluid-api/target/
/fluid-ws-java-client/target/

# Git Describe #
fluid-api/src/main/java/com/fluid/GitDescribe.java

# Include Maven Java WS Client Target Resources #
!/fluid-ws-java-client/target/site/apidocs/**
!/fluid-ws-java-client/target/site/surefire-report.html
# Include Maven Java API Target Resources #
!/fluid-api/target/site/apidocs/**
!/fluid-api/target/site/surefire-report.html